{% extends 'base.html' %}

{% block title %}
list
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="container">
        <h1 class="text-center">{{categories.title}}</h1>
        <div class="row">
            {% if categories.subcategories.all %}
            {% for category in categories.subcategories.all %}
            {% include "Main/includes/CardInclude.html" %}
            {% endfor %}
            {% else %}
            {% for product in categories.products.all %}
                <div class="col-sm">
                    <div class="card mt-3" style="width: 18rem;">
                        <img height="204px" width="286px" src="{{ product.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center"><a href="">{{ product.title }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}